<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4D16E501C1E7CA900A3C8DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D16E641C1E7CA900A3C8DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D16E6F1C1E7CA900A3C8DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
